<!-- your html code here -->
<link href="assets/css/style.css" rel="stylesheet">
<div class="bg-light px-4 py-3">
    <h5>Contact</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum non orci a nisl vehicula facilisis. Integer feugiat urna risus, quis sodales ligula lacinia quis. Fusce vel est gravida, mattis mi id, feugiat magna. Etiam in leo ac eros convallis iaculis nec et mi.</p>
    <div class="card bg-secondary-subtle ms-5 w-75">
        <div class="card-body">
            <div class="row mb-3">
                <label for="email1" class="col-sm-2 col-form-label">Your E-mail</label>
                <div class="col-sm-10">
                <input type="email" class="form-control" id="email1" placeholder="your email"/>
                </div>
            </div>
            <div class="row mb-3">
                <label for="message" class="col-sm-2 col-form-label">Your message</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="message" placeholder="please enter your message here..."/>
                </div>
            </div>
            <div class="mb-3 d-flex justify-content-end">
                <button type="button" class="btn btn-primary btn-sm">Submit</button>
            </div>
        </div>
    </div>
</div>