<!-- your html code here -->
<div class="container mx-auto p-4 mw-100">
  <div class="card mb-3 py-5">
    <div class="row g-0">
      <div class="col-md-8">
        <div class="card-body ms-5">
          <div class="card-title d-flex">
            <h5>This First Heading </h5><h5 class="text-secondary ps-1">Will Catch Your Eye</h5>
          </div>
          <p class="card-text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem nemo
            qui molestiae! Harum et qui alias eveniet ipsum labore magni
            expedita porro! Est necessitatibus, sit magnam reiciendis tempore
            suscipit error.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <img
          img
          src="https://placedog.net/200x200"
          class="rounded-circle my-3 px-3"
          alt="..."
        />
      </div>
    </div>
  </div>
</div>
