<!-- your html code here -->
<div class="container">

    <div class="row">
        <h1 id="portfolio">Portfolio</h1>
        <p>Donec ullamcorper nulla non metus auctor frigilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus
            magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="row">
    <!-- <div class="d-flex justify-content-around" -->
        <div class="col-md-4">
        <div class="card" style="width: 18rem;">
        <img src="https://th.bing.com/th/id/OIP.JONXK4WuoY3MkixZ01Ux5wHaEK?rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="https://th.bing.com/th/id/OIP.JONXK4WuoY3MkixZ01Ux5wHaEK?rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="https://th.bing.com/th/id/OIP.JONXK4WuoY3MkixZ01Ux5wHaEK?rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>
    </div>
</div>
